.home {
    background-color: #f7f7f7;
    background-repeat: no-repeat;
    padding: 2rem;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.main_content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.learn_header {
    font-weight: 600;
    text-decoration: underline;
    margin-bottom: 2rem;
}

.link_header {
    font-weight: 600;
    text-align: center;
}

.repo_link {
    text-decoration: none;
}

ol {
    list-style: square;
}

li {
    text-decoration: none;
    margin-bottom: 1rem;
    font-size: 1.8rem;
}
