// Colors
$color-primary: #56a902;
$color-primary-light: #5fba02;
$color-primary-dark-1: #458702;
$color-primary-dark-2: #346601;

$color-red: #f9320c;

$color-white: #fff;
$color-off-white: #f7f7f7;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-3-obscure: #e0dcdc;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;


// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;


// Green colors option 1. (from lol colors)
// lighter #75D701
// darker #56A902
// darker2 #4f953b
// grey #555 , 